@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.container-section{
  background: #F6F6F6;
}
.container-box{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 50px 60px;
}
.col-1{
  flex-basis: 66.66%;
  padding-right: 30px;
}
.col-2{
  flex-basis: 33.33%;
}
h1{
  font-weight: 600;
  font-size: 2rem;
}
.description p{
  line-height: 2rem;
  font-weight: 400;
  color: #707070;
}
.features-img{
  max-width: 100%;
}
/* ============================================
basic info
============================================== */

.basic-info{
  border: 2px solid #111;
}
.basic-info .info-top{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-bottom: 2px solid #111;
}
.basic-info .info-top .info-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.basic-info .info-top .info-row .info{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.basic-info .info-top .info-row .info .info-icon{
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: #111;
  line-height: 38px;
  font-size: 18px;
  background: #ffd71b;
}
.basic-info .info-top .info-row .info .info-text{
  font-weight: 500;
  font-size: 1rem;
}
.basic-info .info-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
}
.basic-info .info-bottom .info-time{
  flex-basis: 80%;
  padding: 12px 0 12px 12px;
  color: #111;
}
.basic-info .info-bottom .info-price{
  flex-basis: 20%;
  background: #111;
  color: #ffd71b;
  padding: 12px 0;
  text-align: center;
}

/* =================================
ingredients
===================================== */

.ingredients{
  margin: 20px 0;
}
.ingredients h4{
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.ingredients ul li{ 
  list-style: none;
  padding: 10px 0;
  color: #707070;
  border-bottom: 1px dotted #d7d7d7;
}
.ingredients ul li i{
  margin-right: 5px;
}

/* =================================
More blog
===================================== */

.more-blog{
  margin: 20px 0;
}
.more-blog h4{
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.more-blog .singal-blog{
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #d7d7d7;
}
.more-blog .singal-blog .img{
  margin-right: 20px;
  height: auto;
}
.more-blog .singal-blog .img img{
  width: 70px;
}
.more-blog .singal-blog .text .title{
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}
.more-blog .singal-blog .text .matadata{
  color: #111;
}

/* =================================
Share
===================================== */

.share{
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #707070;
}
.share ul{
  display: flex;
  list-style: none;
}
.share ul li{
  margin: 0 10px;
}
.share ul li a{
  color: #111;
}
.share ul li a i{
  font-size: 1.2rem;
}

/* =================================
post navigation
===================================== */

.post-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707070;
  padding: 20px 0;
}
.post-navigation > div{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.post-navigation > div:hover{
  color: #111;
}

/* =================================
Author
===================================== */

.author-box{
  margin: 20px 0;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 50px #c5c2c2;
}
.author-box .author-img{
  flex-basis: 30%;
}
.author-box .author-img img{
  width: 100px;
  filter: drop-shadow(0px 0px 10px #dba3a3c7);
}
.author-box .author-info .author-name{
  font-size: 1.3rem;
}
.author-box .author-info .author-details{
  color: #707070;
  font-weight: 400;
}


/* =================================
Comment section
===================================== */

.comment-section h4{
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.comment-section textarea{
  border: 2px solid #000;
  background: transparent;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.comment-section .comment-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.comment-section .comment-info input{
  width: 33.33%;
  padding: 10px;
  border: 2px solid #000;
  margin-bottom: 10px;
}
.comment-section input[type=submit]{
  display: block;
  margin-top: 20px;
  padding: 10px 50px;
  outline: none;
  border: none;
  background: #ffd71b;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.comment-section input[type=submit]:hover{
  background: #d4b116;
}



/* ===================================
responsive
================================ */

@media only screen and (max-width: 1024px) and (min-width: 480px){
  .container-box{
    flex-wrap: wrap;
    width: auto;
    padding: 0;
  }
  .col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    padding:20px;
  }
  .features-img{
    width: 50%;
    margin: 0 auto;
  }
  .col-1 h1{
    margin-left: 50px;
  }
  .description{
    padding: 0 50px;
  }
  .col-2{
    padding: 20px;
    flex-basis: 100%;
  }
  .basic-info{
    margin: 0 auto;
    width: 60%;
  }
  .ingredients{
    text-align: center;
  }
  .more-blog h4{
    text-align: center;
  }
  .tab-view{
    display: flex;
    justify-content: space-around;
  }
  .more-blog .singal-blog{
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) and (min-width: 300px){
  html{
    font-size: 14px;
  }
  .container-box{
    flex-wrap: wrap;
    width: auto;
    padding: 0;
  }
  .col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    padding:20px;
  }
  .col-2{
    padding: 20px;
    flex-basis: 100%;
  }
  .ingredients{
    text-align: center;
  }
  .author-box{
    gap: 10px;
    padding: 10px;
  }
  .more-blog h4{
    text-align: center;
  }
  .more-blog .singal-blog{
    justify-content: center;
  }
}