* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
body{
  height: 100%;
}
html{
  scroll-behavior: smooth;
  font-size: 15px;
}
.section {
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
}
.section{
  display: none;
}
.section.watch{
  display: block;
}
.container {
  margin: 0 auto;
  width: 80%;
  padding-top: 50px;
}
/* =================================
top section tabs
===================================== */
.section-1{
  min-height: 800px;
  display: flex;
  background: #E3E9EE;
}
.section-1 .container{
  width: 90%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section-1 .container .col-1{
  flex-basis: 40%;
  border-radius: 8px;
}
.section-1 .container .col-2{
  display: flex;
  margin-left: 50px;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 60%;
  position: relative;
}
.col-2 .thumbnail{
  display: none;
}
.col-2 .thumbnail.open{
  display: block;
}
.section-1 .container .col-2 .thumbnail{
  height: 340px;
  cursor: pointer;
  position: relative;
}
.section-1 .container .col-2 .thumbnail video{
  max-width: 600px;
  height: fit-content;
  border-radius: 5px;
}
.section-1 .container .col-2 .thumbnail span{
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 5;
  padding: 50px 18px;
  background: #e2e8ec;
  border-radius: 100%;
  font-weight: 500;
  opacity: 0;
  cursor: pointer;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.section-1 .container .col-2 .thumbnail:hover span{
  opacity: 1;
}

.section-1 .container .col-1 .tab-title ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  z-index: 5;
}
.section-1 .container .col-1 .tab-title ul li{
  position: relative;
}
.section-1 .container .col-1 .tab-title ul li:last-child::before{
  content: 'Recommended';
  display: inline-block;
  position: absolute;
  top: -40px;
  left: 22px;
  width: auto;
  height: auto;
  background: #f0e2c1;
  font-size: 0.8rem;
  padding: 2px 10px;
  border-radius: 50px;
  font-weight: 400;
  color: #000000;
}
.section-1 .container .col-1 .tab-title ul li:last-child::after{
  content: "";
  right: 60px;
  top: -23px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f0e2c1;
  z-index: 1;
}
.section-1 .container .col-1 .tab-title ul li{
  width: 33.33%;
  text-align: center;
  padding: 20px 0;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 1.2rem;
}
.section-1 .container .col-1 .tab-title ul li:hover, .section-1 .container .col-1 .tab-title ul li.on{
  background: #fd4766;
  color: #ffffff;
}

/* =================================
top section tabs contant
===================================== */

.tab-content .info{
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 10px 0px #D1D9E6;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  border-radius: 0 0 8px 8px;
}
.tab-content .info h3{
  max-width: 80%;
  font-size: 2rem;
  padding-right: 90px;
  font-weight: 600;
  letter-spacing: 1px;
}
.tab-content .info p{
  font-size: 16px;
  font-weight: 400;
  max-width: 80%;
  color: #3c3e41;
}
.tab-content .info .price{
  background: #fd4766;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  position: absolute;
  top: 25px;
  font-size: 18px;
  box-shadow: 5px 5px 15px #b2b8c0, -5px -5px 15px #ffffff;
  right: 25px;
  animation: up-to-down 2s linear infinite;
}
.tab-content .info ul{
  margin-top: 20px;
}
.tab-content .info ul li{
  list-style: none;
  font-size: 1.2rem;
  color: #3c3e41;
  margin-top: 14px;
}
.tab-content .info{
  display: none;
}
.tab-content .visible{
  display: block;
}


/* ===========================
tab wrapper
============================== */
.tabs-wrapper {
  background-color: rgba(17, 17, 17, 0.8);
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.tabs-wrapper ul {
  display: flex;
  justify-content: space-between;
}
.tabs-wrapper ul li {
  display: flex;
  list-style: none;
  flex-basis: 25%;
  justify-content: center;
  cursor: pointer;
  position: relative;
  align-items: center;
}
.tabs-wrapper ul li img {
  width: auto;
  height: 2rem;
  margin-right: 10px;
}
.tabs-wrapper ul li .info {
  width: 50%;
  color: #ffffff;
  font-family: "Poppins";
  transition: all 0.3s ease-in-out;
}
.tabs-wrapper ul li::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  transition: all 0.3s ease-in-out;
}
.tabs-wrapper ul li:hover::after, .section .tabs-wrapper ul li.active::after{
  bottom: -10px;
}
.tabs-wrapper ul li::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: -10px;
  background-color: #ffb606;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.tabs-wrapper ul li:hover::before,
.section .tabs-wrapper ul li.active::before{
  width: 100%;
  animation: scale-up-to-down 3s infinite;
}
.tabs-wrapper ul li:hover .info,
.section .tabs-wrapper ul li.active .info {
  color: #ffb606;
}
.tabs-wrapper ul li .info h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.tabs-wrapper ul li .info p {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: -5px;
}

/* ===========================
tab contant
============================== */
.tabs-contant {
  background-color: #ffffff;
  padding: 45px 20px;
  border-radius: 0 0 5px 5px;
}
.tabs-contant > div{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.tabs-contant .item img{
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.tabs-contant .item{
  position: relative;
}
.tabs-contant .item span{
  background-color: #ffb606;
  color: #000000;
  padding: 10px;
  position: absolute;
  bottom: 35px;
  left: 45%;
  font-weight: 600;
}

.tabs-contant .item h3{
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}

.tabs-contant .content{
  display: none;
}

.tabs-contant .show{
  display: grid;
}



/* =================================
Animation
===================================== */

@keyframes up-to-down{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes scale-up-to-down{
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 600px){
  html{
    font-size: 12px;
  }
  .tabs-contant > div{
    grid-template-columns: repeat(2, 1fr);
  }
  .section-1 .container{
    flex-wrap: wrap;
  }
  .section-1 .container .col-1{
    flex-basis: 100%;
    width: 100%;
  }
  .section-1 .container .col-2{
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 550px) and (min-height: 300px){
  html{
    font-size: 10px;
  }
  .tabs-wrapper ul li .info h4{
    text-align: center;
  }
  .tabs-wrapper ul li .info p{
    text-align: center;
    display: none;
  }
  .tabs-wrapper ul li .info{
    text-align: center;
  }
  .tabs-wrapper ul li img{
    display: none;
  }
  .tabs-contant > div{
    grid-template-columns: repeat(1, 1fr);
  }
}